extends layout

block layout-content
  div.View
    h1.Banner WELCOME TO PAY ID TEST SITE
    div.Message
      div.Title
        h3 A better way for your users to send and receive payments
        h1 BEGIN WITH PAY ID AND XPRING
      span.Details Access the XPRING Team Portal
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!